body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .num-items {
    display: none;
    box-sizing: border-box;
    font-size: 12px;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1300px) {
  /* For tablets: */

  .col-8 {
    width: 91.66%;
  }

  .filter-container {
    display: none;
  }

  .num-items {
    display: none;
    box-sizing: border-box;
    font-size: 12px;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* HEADER AND SUB-COMPONENTS */

.header-div {
  box-sizing: border-box;
  padding: 0;
  background-color: black;
  color: white;
}

.logo-heading {
  text-align: center;
  text-decoration: none;
}

.nav-bar {
  box-sizing: border-box;
  /* border: 0px; */
}

.bag-search-profile-links {
  float: right;
  padding: 0px;
  margin: 0px;
  /* border: 0px; */
}

.bag-container {
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.num-items {
  box-sizing: border-box;
  font-size: 12px;
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.bag-search-profile-icon {
  box-sizing: border-box;
  float: right;
  margin: 0px;
  padding: 2px;
}

.ad-banner {
  box-sizing: border-box;
}

.search-modal {
  box-sizing: border-box;
  width: 100px;
}

/* SHOP CONTAINER, ITEM CONTAINER, ITEM TILES */

.shop-container {
  box-sizing: border-box;
  padding: 0px;
}

.shop-container-image {
  box-sizing: border-box;
  height: 290px;
  background-image: url('./assets/lollipop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0px;
}

.shop-heading {
  font-size: 100px;
  color: white;
  text-align: center;
  padding: 80px;
  margin: 0px;
}

.background-img {
  padding: 0px;
}

.item-container {
  box-sizing: border-box;
}

.item-tile {
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
}

.figure {
  position: relative;
}

.figure .item-thumbnail-alt {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

.figure:hover .item-thumbnail-alt {
  opacity: 1;
}

.item-thumbnail {
  box-sizing: border-box;
}

.item-price {
  margin-bottom: 5px;
}

.add-to-cart-div {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  padding: 0px;
  position: relative;
}

.add-to-cart-btn {
  box-sizing: border-box;
  /* display: inline-block; */
  margin: 0 auto;
  /* position: absolute; */
  /* width: 500px; */
  /* left:0; */
  opacity: 0;
  transition: opacity .35s ease;
  z-index: 1;

  background-color: #51c4d3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

.add-to-cart-div:hover .add-to-cart-btn {
  box-sizing: border-box;
  opacity: 1;
}

/* .add-to-cart-div:hover > .add-to-cart-btn {
  box-sizing: border-box;
  display: block;
} */

/* .item-name {
  position: relative;
} */

/* ITEM PAGE */

.item-page-image-container {
  box-sizing: border-box;
}

.item-page-main-container {
  box-sizing: border-box;
}

.tiny-thumbnails {
  box-sizing: border-box;
  padding: 0px;
}

.indiv-tiny-thumbnail {
  padding: 0px;
}

.main-item-img {
  box-sizing: border-box;
}

/* FILTER CONTAINER AND SUB-FILTERS */

.filter-li {
  list-style-type: none;
  box-sizing: border-box;
  padding: 5px;
  margin: auto;
  display: flex;
}

.filter-check-box {
  box-sizing: border-box;
  margin: 0px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.filter-label {
  /* box-sizing: border-box; */
  /* float: left; */
  /* padding: 5px; */
  padding: 0px;
}

input[type=checkbox] {
  /* box-sizing: border-box; */
  /* display: block; */
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
}
input[type=checkbox]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><path id="checkbox-3-icon" fill="%23000" d="M81,81v350h350V81H81z M227.383,345.013l-81.476-81.498l34.69-34.697l46.783,46.794l108.007-108.005 l34.706,34.684L227.383,345.013z"/></svg>');
}
input[type=checkbox]:not(:checked) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <path id="checkbox-9-icon" d="M391,121v270H121V121H391z M431,81H81v350h350V81z"></path> </svg>');
}

.filter-container {
  box-sizing: border-box;
  padding: 10px;
}

.flavor-filter-box {
  box-sizing: border-box;
}

.flavor-filter-ul {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.type-filter-box {
  box-sizing: border-box;
}

.color-filter-box {
  box-sizing: border-box;
}

.price-filter-box {
  box-sizing: border-box;
}

/* LOGIN AND SIGNUP */

.login-modal {
  box-sizing: border-box;
}

.signup-modal {
  box-sizing: border-box;
}

/* SORT */

.sort-div {
  box-sizing: border-box;
}

/* CART */

.cart {
  box-sizing: border-box;
  opacity: 1;
  position: fixed;
  background: #51c4d3;
  width: 30%;
  height: 100%;
  top: 0%;
  left: 70%;
  right: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
}