body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* HEADER AND SUB-COMPONENTS */

.header-div {
  box-sizing: border-box;
  padding: 0;
}

.nav-bar {
  box-sizing: border-box;
}

.ad-banner {
  box-sizing: border-box;
}

.search-modal {
  box-sizing: border-box;
  width: 100px;
}

/* SHOP CONTAINER, ITEM CONTAINER, ITEM TILES */

.shop-container {
  box-sizing: border-box;
  padding: 0px;
}

.shop-container-image{
  height: 270px;
  background-image: url('./assets/gummy_worms_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.shop-heading {
  font-size: 150px;
  color: white;
  text-align: center;
}

.background-img {
  padding: 0px;
}

.item-container {
  box-sizing: border-box;
}

.item-tile {
  box-sizing: border-box;
}

/* FILTER CONTAINER AND SUB-FILTERS */

.filter-container {
  box-sizing: border-box;
}

.flavor-filter-box {
  box-sizing: border-box;
}

.type-filter-box {
  box-sizing: border-box;
}

.color-filter-box {
  box-sizing: border-box;
}

.price-filter-box {
  box-sizing: border-box;
}

/* LOGIN AND SIGNUP */

.login-modal {
  box-sizing: border-box;
}

.signup-modal {
  box-sizing: border-box;
}

/* SORT */

.sort-div {
  box-sizing: border-box;
}

/* CART */

.cart {
  box-sizing: border-box;
}